#Container, #Container > VisualElement
{
    position: absolute;
    width: 100%;
    height: 100%;
}

 /* Change opacity from code as needed */
#Container > VisualElement { opacity: 0; }

#Frost { background-image: url("project:/Assets/Textures/UIfrost.png"); }
#Spill { background-image: url("project:/Assets/Textures/UIfrost.png"); }